.footer__title{
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--size-xs);
    letter-spacing: 0.2em;
    user-select: none;
}